@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&family=Poppins:wght@100&family=Quicksand:wght@300&family=Raleway:ital,wght@0,600;0,800;1,100;1,500;1,600&display=swap');

/* Add custom CSS to the existing style.css file or create a new CSS file and link it to the HTML document */

/* Center the logo in the navbar */
.navbar-brand {
  display: flex;
  justify-content: center;
}

/* Style the cart icons */
.cart-icon {
  position: relative;
  margin-left: 15px;
}

.cart-icon i {
  font-size: 24px;
  color: #333; /* Change the color to your desired color */
  cursor: pointer;
}

.cart-icon{
    margin-right: auto;
}

/* Adjust spacing and alignment of the navigation items */
.navbar-nav {
  align-items: center;
}

.nav-item {
  margin-right: 15px;
}

/* Style the search box */
.form-inline {
  position: relative;
}

.navbar-brand img {
            max-height: 50px;
        }

.form-control {
  border-radius: 20px; /* Adjust the border-radius to your liking */
}

/* Optional: Add some padding to the search button */
.btn-outline-success {
  padding: 0.375rem 1.5rem;
}

/* Optional: Change the color of the search button text */
.btn-outline-success span {
  color: #d43a3a23; /* Change the color to your desired color */
}


  #home {
  background: url('../imgs/sample3.png');
  background-color: burlywood;
  width: 100%; /* Set the width to occupy the full width of the viewport */
  height: 100vh; /* Set the height to occupy the full viewport height */
  background-size: cover; /* Adjust the background image size to cover the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
 



#home span{
color: coral;
}

/* Style the "Shop Now" button */
#home button {
  background-color: #007bff; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none; /* Remove the default button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition */
}

/* Hover effect */
#home button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

